<section class="pt-6 pb-6 section-calendar">
  <div class="block-content">
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
      <div class="border-orange-600 font-medium text-2xl p-3 mb-3 text-900" style="border-left: 8px solid;">
        Nos Missions
      </div>
      <div class="line-height-3 text-xl text-700 mb-5">
        Nos missions consistent à former les différents publics constituant les entreprises (encadrants techniques,
        encadrants de chantier et opérateurs de chantier) sur les connaissances spécifiques complémentaires suivant les
        besoins de l’entreprise.
        <br>
        <br>
        Nous adaptons nos formations en fonction des besoins exprimés défini ensemble dans un cahier des charges précis
        et règlementaire.
        <br>
        Nous réalisons également des formations traditionnelles définies dans le cadre de la règlementation.
      </div>
      <div class="mb-5">
        <p-tag value="Apprentissage" class="p-element mr-2"></p-tag>
        <p-tag value="Formation" severity="success" class="p-element mr-2"></p-tag>
        <p-tag value="Conaissances" severity="warning" class="p-element"></p-tag>
      </div>
      <div class="line-height-3 text-lg text-700 mb-4">Exemple :<br>
        La rédaction d’un PPSPS (Plan Particulier de Sécurité et Protection de la Santé), d’un Mode
        opératoire «amiante» en sous-section 4 ou aux risques «Plomb», de processus, de fiches de tâches,
        de phase opérationnelle, ou de Plan de Prévention et DUER (Document Unique, d’Evaluation des
        Risques).
      </div>
      <blockquote class="line-height-3 text-xl text-600 mb-4 py-0 mx-0 px-4">
        “Pour faire simple : Nous sommes là pour vous accompagner en formation pratique in situ.”
      </blockquote>
      <div class="line-height-3 text-lg text-700 mb-4"> Nous proposons également des formations courtes sur différents
        domaines :
      </div>
      <ul class="mb-4 text-lg ml-6 p-0">
        <li class="mb-3">Analyse des risques.</li>
        <li class="mb-3">AIPR.</li>
        <li class="mb-3">SST.</li>
        <li class="mb-3">Gestes et postures.</li>
        <li class="mb-3">PRAP IBC.</li>
        <li class="mb-3">H0vB0.</li>
        <li class="mb-3">Port de harnais de sécurité.</li>
        <li class="mb-3">Confinement thermo-soudé.</li>
        <li class="mb-3">Fit-test.</li>
      </ul>
      <div class="text-center mb-4"><img src="assets/images/home.png" alt="Image"
                                         class="w-full border-round"><span class="block text-700 line-height-3 mt-2">Image Formation SST.</span>
      </div>
      <div class="text-2xl text-900 mb-4">Finalité de la formation :</div>
      <div class="line-height-3 text-lg text-700 mb-4"> Permettre au stagiaire opérateur de chantier d’intervenir en
        sécurité lors de toute intervention
        susceptible de libérer des fibres d’amiante relevant de la sous-section 4 et d’assurer sa protection,
        celle des tiers et de l’environnement pour la gestion des déchets..
      </div>
    </div>
  </div>
</section>
