<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="text-900 font-bold text-6xl mb-4 text-center">Pricing Plans</div>
  <div class="text-700 text-xl mb-6 text-center line-height-3">
    Sympathique, intelligent, pratique et pas cher. Ce serait bête de s'en priver...
  </div>

  <div class="grid">
    <div class="col-12 lg:col-4 card-container">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
          <div class="flex align-items-center">
            <img alt="moi" src="assets/image/bgdeouf.jpeg" width="480px">
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Sourir de Brad Pitt</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Aime les êtres humains</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Sent plutôt bon</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto"/>
          <button pButton pRipple label="Buy Now" class="p-3 w-full mt-auto"></button>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4 card-container">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 h-full flex flex-column surface-card" style="border-radius: 6px">
          <div class="flex align-items-center">
            <img alt="moi" src="assets/image/einstein.jpg" width="480px">
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Malin comme un singe</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Intelligence émotionnelle</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Innovateur</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Fougueux</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border"/>
          <button pButton pRipple label="Buy Now" class="p-3 w-full"></button>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4 card-container">
      <div class="p-3 h-full">
        <div class="shadow-2 p-3 flex flex-column surface-card" style="border-radius: 6px; height: 100%">
          <div class="flex align-items-center">
            <img alt="moi" src="assets/image/boite-a-outils.jpg" width="480px">
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border"/>
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Adaptable à toutes les situations</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Entretient normal, graisser un peu de temps en temps</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>A chaque problème sa solution</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Mise en oeuvre de stratégie</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Toujours utiliser le bon outil</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span>Maitrise les câlins</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border"/>
          <button pButton pRipple label="Buy Now" class="p-3 w-full"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="cv-game mt-7">
    <h2 class="cv-game-title">Attrapez mon CV</h2>
    <h3 class="cv-game-subtitle">Les règles, si vous les acceptez, sont les suivantes :</h3>
    <ol>
      <li>Inspirez à fond et détendez vous.</li>
      <li>Cliquez sur démarrer le jeu</li>
      <li>Il s'agit d'un casse briques standard, mon CV est celui en rouge. Si vous l'ateignez vous pourez le lire...</li>
    </ol>
    <div class="the-game flex justify-content-center mt-7">
      <canvas id="stage" [width]="largeurCanvas" [height]="hauteurCanvas"></canvas>
    </div>
  </div>
</div>
